<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
{{>layout/head}}
<title>文件列表</title>
</head>
<body>
{{>layout/header}}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{>layout/message}}

            {{#now_path}}
            {{.}}
            {{/now_path}}
            <p></p>
            {{#directories}}
            <li><a href="{{now_path}}/{{.}}" >{{.}}</a></li>
            {{/directories}}
            {{#files}}
            <li>{{.}}</li>
            {{/files}}
        </div>
    </div>
</div>
</body>
</html>